# MongoDB Configuration
MONGODB_URI=mongodb+srv://gargsahil156_db_user:kw0RexfbV3nnrLKC@taskflow.ddelpz6.mongodb.net/?appName=TaskFlow

# JWT Configuration
JWT_SECRET=8eed99705c1a43440d840e7cd3d095bdffd55d86c05ac14a6c31a80212fbddd49ef148a4b417bf060156d815d45041565d112d3f2625ea5a4fa44af11e3ee08c
JWT_EXPIRE=7d

# Server Configuration
PORT=5000
NODE_ENV=development

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000
